body, html{
	margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%
}
html{
	scroll-behavior: smooth;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




/*Header*/
.header-div{
	width: 100%;
	height: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.header-top{
	width: 100%;
	height:auto;
}

.header-logo{
	width: 100%;
	height:auto;
}

.header-logo img{
	width:200px;
	height: 100px;
}

.header-date{
	width: auto;
	display: inline;
	float: right;
	text-align: right;
}

.header-date small{
	font-size: 22px;
	color:blue;
}

.header-bottom{
	width: 100%;
	height: auto;
	margin-top: 30px;
	border-bottom: 0.5px solid #808080;
	border-top: 0.5px solid #808080;
	padding-top: 15px;
	z-index: 10;
	background-color: #fff;
	opacity: 0.9;
	/*position: fixed;*/
}

.header-bottom ul{
	list-style-type: none;
}

.header-bottom li{
	display: inline;
	font-size: 30px;
	padding-right: 35px;
	font-weight: 600;
	letter-spacing: 5px;
}

.header-bottom a{
	color:blue;
}

.header-bottom li:nth-child(3) a{
	color: red;
} 

.header-bottom li a img{
	width: 120px;
	height: 60px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  margin-top: 0;
}





/*Footer*/

.footer{
	width:100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px; 
	background-color: #fff;
}

.footer small{
	color: blue;
	font-size: 15px;
}

.footer p{
	color:#cb221f;
	font-size: 17px;
}

.footerdiv{
	width: 30%;
	text-align: center;
	margin-bottom: 25px;
}

.footerdiv2{
	width: 30%;
	text-align: center;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column-reverse;
}


.emptydiv{
	width: 100%;
	height: 20px;
	background-color: #333;
}






/*Top Banner*/

.content{
	width:95%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 186px;
}

.main-banner-image{
	width: auto;
	height:auto;
	margin-bottom:30px;
	overflow: hidden;

}

.main-banner-image img{
	object-fit: cover;
	height: 400px;
	width: 100%;
}

.banner-images{
	height: auto;
}

.banner-image{	
	margin-bottom: 15px;
	overflow: hidden;
}

.banner-image img{
	object-fit: cover;
	max-height:200px;
	width: 100%;
}

.text{
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding:3px;
}

.wrapper {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper2 {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}





/*News collection*/

.outer{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #c4c2c2;
	margin:auto;
	flex-direction: column;
}
.row-margin{
	width: 95%;
}
.social,.political{
	background-color: #fff;
	margin-top: 50px;
	margin-bottom: 50px;
}

.category-heading{
	display: flex;
	background-color: #223f91;
	color: #fff;
	/*margin-left: -15px;*/
}

.news{
	height: auto;
	margin-bottom:30px;
	margin-top: 15px;
	width: auto;
	height: auto;
}

.news img{
	height: auto;
	object-fit: cover;
	width: 100%;
	height: 325px;
}

.news-excerpt{
	position: absolute;
	bottom:0;
	width: 100%;
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	overflow-x: hidden;
	padding:10px;
}






/*Video Css*/

.video{
	width: 95%;
}
.video-container{
	background-color: #fff;
	padding:30px;
	margin-bottom: 30px;
}

.featured-video iframe{
	width: 100%;
	height: 100%;
}

.featured-video{
	height: 400px;
	/*background-color: #c4c2c2;*/
	/*margin: 30px;*/
	margin-top:30px;
	border:1px solid #223f91;
	padding-left: 0;
	padding-right: 0;
}
.other-videos{
	/*width: 100%;*/
	height: 400px;
	margin-top: 30px;
	z-index: 2;
	overflow-y: scroll;
}
.sidebar-video{
	width: auto;
	height:250px;
	background-color: #fff;
	margin: 15px;
	z-index: 1;
	background-color: #333;
	padding-left: 0;
	padding-right: 0;
}

.sidebar-video iframe{
	width: 100%;
	height: 100%;
}


/*MAP CSS*/

.map{
	width: 100%;
	height: auto;
	margin: auto;
}

.map-container{
	/*width: 100%;*/
	padding: 0;
}

.map-container img{
	width:100%;
	height: auto;
	object-fit: cover;
	height: 500px;
	/*max-height: 500px;*/
}




/*Social Political Css*/

.slider{
	width: 95%;
	height: 300px;
	margin-bottom: 50px;
}

.wppsac-post-image-bg img{
	width:300px;
	height:300px;
	object-fit: cover;
}

.wppsac-post-content-position{
	position: absolute;
	bottom: 4.9%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding:3px;
	font-size: 17px;
	width: 300px;	
}

.slick-initialized .slick-slide{
	display: flex;
	justify-content: center;
}

.wppsac-post-carousel.design-1 .wppsac-post-title a{
	color: #fff;
}




.row-margin-page{
	width: 95%;
	background-color: #fff;
	margin-top: 50px;
	margin-bottom: 50px;
}

.page-text{
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding:3px;
	font-size: 25px; 
}

.page-text p{
	margin-bottom: -5px;
}

.date{
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.up-arrow{
	width: 100%; 
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}


/*Single Social/Political Template*/

.container-div{
	width: 100%;
	height: auto;
	background-color:#c4c2c2; 
}

.thumbnail-div{
	width:auto;
	height:auto;
}

.thumbnail-div img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.views-div{
	height:35px;
	background-color: #223f91;
	width:100%;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.views-div a{
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
}

.views-div small{
	margin-left: 10px;
	color: #fff;
	font-size: 20px;
}

.views-div i{
	font-size: 20px; 
	color:white;
}

.single-row{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.type-div{
	background-color: #fff;
	margin-bottom: 30px;
}

.type{
	background-color: #223f91;
	color: #fff;
	width: 150px;
	height: auto;
	margin-left: -15px;
}

.type p{
	font-size: 25px;
	padding-left: 10px;
}

.single-heading{
	color:#cc2126;
	font-size: 50px;
}

.single-small{
	font-size: 18px;
}

.content-div p{
	font-size: 20px;
}

.single-image{
	width: auto;
	height: auto;
}

.content-div img{
	width: 100%;
	height: 400px;
	object-fit: cover;
}

blockquote {
  /*background: #f9f9f9;*/
  border-left: 10px solid #cc2126;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  margin-left: 30px;
}

blockquote p{
	display: inline;
	font-size: 25px;
	color:#cc2126;
}

.social-media{
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 30px;
}

.share{
	font-size: 30px;
	padding-right: 30px;
	color: #cf393e;
}

.audio-player{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 30px;
}


/*Next Previous Section*/
.next-previous{
	width: 100%;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.previous{
	height:auto;
	background-color: #fff;
	padding-left: 0;
}

.previous-image{
	padding-left: 0px;
}

.previous-image img{
	width:200px;
	height: 200px;
	object-fit: cover;
}


.next{
	height:auto;
	background-color: #fff;
}

.next-text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
}


.next-image img{
	width:200px;
	height: 200px;
	object-fit: cover;
	padding-left: 0;
	padding-right: 0;
}

.paragraph-next{
	text-align: right;
	font-size: 22px;
	padding-right: 10px;
}

.paragraph-previous{
	text-align: left;
	font-size: 22px;
}

.next-previous a{
	text-decoration: none;
	color: black;
}

.single-up-arrow{
	width: 100%; 
	position: absolute;
	top: 0;
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-end;
}



/*Related Section*/
.related-row{
	width: 100%;
	background-color: #fff;
	margin-right: auto;
	margin-left:auto;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

.related-title{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.related-title h3{
	color:#223f91;
	font-size: 30px;
}

.related{
	width: auto;
	height: auto;
}

.related-container{
	width: auto;
	height: auto;
}

.related-container img{
	height:200px;
	width: 100%;
	object-fit: cover;
}



/*Democracy Series*/
.thumbnail-div{
	display: flex;
	position: relative;
	flex-direction: column;
}



.democracy-title{
	position: absolute;
	bottom:0;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
}

.democracy-title p{
	font-size: 50px;
}

.week-div{
	display: flex;
	flex-direction: row;
	height: 25px;
	width:100%; 
	background-color: #fff;
	padding-left: 0;
	padding-right: 0;
}

.left-next-container{
	display: flex; 
	margin-right: auto;

}

.right-next-container{
	display: flex;
	margin-left: auto;
}

.week-div a{
	text-decoration: none;
	color: #fff;
}

.previous-button{
	background-color: black;
	width:40px;
	height:25px;
	border-bottom-right-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.week{
	width: 100px;
	height: 25px;
	border-bottom-right-radius: 40%;
	border-bottom-left-radius: 35%;
	background-color: #223f91;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.next-button{
	background-color: black;
	width:40px;
	height:25px;
	border-bottom-left-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.democracy-content-div{
	height: auto;
	width: 100%;
}

.democracy-content-row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

.democracy-content{
	width: 100%;
    height: auto;
    background-color: #fff;
    padding-right: 0;
    padding-left: 0;
    padding-top: 30px;
    margin-bottom: 30px;
}

.slider-div{
	margin-top: 30px;
	width: auto;
	height: auto;
	max-height: 600px;
	padding-left: 0;
	padding-right: 0;
}

.slider-div img{
	width: 100%;
	height: 600px;
	object-fit: cover;
}

.democracy-content h1{
	color:red;
	padding-left:20px;
	padding-right: 20px;
	font-size: 40px;
	padding-bottom: 20px;
}

.democracy-content p{
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.democracy-content h4{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	font-size: 25px;
}

.democracy-content h5{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	font-size: 22px;
	color:red;
}

.lightbox{
	width: 100%;
	height: auto;
	text-align: center;
}

.lightbox img{
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.democracy-social-media{
	width: 100%;
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.soliloquy-pager{
	display: none !important;
}





/*Media Query*/
@media only screen and (max-width: 768px) {
    .

	.social-media{
  	justify-content: flex-start;
  }

  .audio-player{
  	justify-content: flex-start;
  }

  .related-container{
  	margin-bottom: 15px;
  }
}